.root {


  .header {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .avatar {
      width: 80px;
      height: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #D5E4F7;
      border-radius: 100%;
      font-size: 40px;
      color: #212830;
      ;
    }

    .userInfo {
      margin-left: 24px;

      span {
        font-size: 20px;
        font-weight: 600;
        color: #333;
      }

      .userLinks {
        width: 228px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 8px;

        .link {
          display: flex;
          justify-content: flex-start;
          align-items: center;

          a {
            margin-left: 6px;
            font-size: 12px;
            font-weight: 400;
            text-decoration: none;
            color: #5558fa;
          }
        }
      }
    }
  }

  .line {
    margin-top: 24px;
    border-top: 1px solid rgba(0, 0, 0, 0.08);
  }

  .startForm {
    width: 400px;
    display: flex;
    flex-direction: column;

    label {
      margin-top: 24px;
      font-size: 14px;
      font-weight: 400;
    }

    input {
      margin-top: 8px;
      padding: 12px;
      border: 1px solid rgba(0, 0, 0, 0.16);
      border-radius: 4px;
      font-size: 14px;
      font-weight: 400;

      &::placeholder {
        color: rgba(0, 0, 0, 0.48);
      }

      &:focus {
        outline: none;
      }
    }
  }

  .errMessage {
    margin-top: 8px;
    font-size: 12px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.48);
  }

  .startButton {
    width: 79px;
    height: 44px;
    margin-top: 48px;
    padding: 12px 16px;
    background-color: #5558fa;
    border-style: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    transition: all ease-in-out 0.4s;

    &:hover {
      cursor: pointer;
    }

    &:active {
      transform: scale(0.6);
    }
  }
}

@media (min-width: 320px) and (max-width: 468px) {
  .root {
    .header {
      flex-direction: column;
      justify-content: center;

      .userInfo {
        margin-top: 24px;
        margin-left: 0;
        text-align: center;

        span {
          font-size: 24px;
        }

        .userLinks {
          width: auto;
          margin-top: 16px;


          .link {
            display: flex;
            justify-content: center;
            align-items: center;

            &:nth-child(2), &:last-child {
              margin-left: 6px;
            }

            .icon {
              svg {
                width: 16px;
                height: 14px;
              }
            }

            a {
              margin-left: 8px;
              font-size: 14px;
              font-weight: 400;
              text-decoration: none;
              color: #5558fa;
            }
          }
        }
      }

    }

    .startForm {
      margin: 0 auto;
      max-width: 80%;

      label, input {
        font-size: 12px;
      }

      .errMessage {
        font-size: 12px;
        font-weight: 400;
      }

      .startButton {
        margin: 0 auto;
        margin-top: 48px;
        font-size: 14px;
      }
    }
  }
}
