.App {
  box-sizing: border-box;
  width: 900px;
  height: 704px;
  margin: 0 auto;
  margin-top: 24px;
  padding: 24px 25px;
  background-color: #fff;
  border-radius: 12px 12px 0 0;
  color: #333;
  outline: none;
}
