.App {
  box-sizing: border-box;
  width: 900px;
  margin: 0 auto;
  margin-top: 24px;
  padding: 24px 25px 80px;
  background-color: #fff;
  border-radius: 12px 12px 0 0;
  color: #333;
  outline: none;
  font-family: 'SB Sans Interface';
  transition: all 0.8s;


  .custom-select {
    &__control {
      margin-top: 8px;
      width: 325px;
      height: 44px;

      &:hover {
        cursor: pointer;
      }
    }

    &__value-container input {
      padding: 0 !important;
    }

    &__placeholder {
      font-size: 14px;
      font-weight: 400;
      color: rgba(0, 0, 0, 0.48);
    }

    &__indicator-separator {
      display: none;
    }

    &__indicator {
      color: rgba(0, 0, 0, 0.24);
    }

    &__menu {
      width: 325px;
      margin-top: 0;
      box-shadow: none;

      &-list {
        border: none;
        font-size: 14px;
        font-weight: 400;
        color: 333;
      }
    }
  }
}

@media (max-width: 1024px) {
  .App {
    width: 748px;
  }
}

@media (max-width: 748px) {
  .App {
    margin: 0;
    padding-top: 48px;
  }
}
